header {
    background-color: #191919;
    color: #106ac9;
    font-family: sans-serif;
}

h1 {
    font-weight: bold;
    margin: 0;
}

button {
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    /* height: 100%; */
    /* display:flex;
    flex-direction: row; */
}

ul {
    height: 3rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    margin: 0 1.5rem;
}

li * {
    height: 100%;
    text-decoration: none;
    margin: auto 0;
}

li {
    gap: 0.1rem;
    }