header {
    background-color: #191919;
    color: #106ac9;
    font-family: sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}

button {
    font-size: larger;
    font-weight: bolder;
    height: 100%;
    margin: auto 0;
}

ul {
    height: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    margin: 0 1.5rem;
}

li {
    height: 100%;
    gap: 0.1rem;
}