<header>
    <ul>
        <li routerLink='/'>
            <button mat-button color="primary">
                    <h1>
                    M&#x2200;TM&#x2200;IKAL
                </h1>
                </button>
        </li>
        <li *ngFor="let item of items" [routerLink]="item.path">
            <button mat-button color="primary" [title]="item.text"> {{item.text}}
                <!-- <span class="material-symbols-outlined">
                {{item.icon}}
            </span> -->
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
        </li>
    </ul>
</header>