header {
    height: 4rem;
}

ul {
    width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
    justify-content: space-between;
    list-style-type: none;
    /* margin: 0 1.5rem; */
}

.header-group {
    gap: 2rem;
    display: flex;
}