<div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with"
  data-size="large" data-logo_alignment="left">
</div>


<mat-card>
    <mat-card-content>
        <h2>Login</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>

            <div id="loginBtn"> </div>
        </form>
    </mat-card-content>

</mat-card>