<div id="sketcher">
    <mat-card id="givens">
        <mat-card-content>
            @if (hoverCord) {
            <a>Selected Cord: ({{hoverCord.x}},{{hoverCord.y}})
            </a>
            }
            @if (hovered) {
            <a>Selected Point: ({{hovered.letter}})
            </a>
            }
            <div>
                <mat-list>
                    <h2 matSubheader>Functions
                        <mat-divider></mat-divider>
                    </h2>

                    @for (input of this.expressions; track $index) {
                    <app-math-input [value_latex]="input" mat-list-item (expressionChange)="changeFn($index, $event)"
                        placeholder="f(x)"></app-math-input>
                    }
                </mat-list>
                <!-- @for (fn of this.cartez.functions; track $index) {
        <a>Evaluated in: {{fn.calculated_in_ms}} MS</a>
        } -->
                <!-- <button mat-button color=" primary"> Add</button> -->
            </div>
            <!-- <ul>
            @for (fn of this.cartez.functions; track fn) {
            <li>
                {{fn.expression_latex}}
            </li>
            }
        </ul> -->

            <div>
                <h2>Points</h2>
                <ul>
                    @for (item of this.cartez.points; track $index) {
                    <li>
                        {{item.letter}} ({{item.cords.x}},{{item.cords.y}})
                        @for (bound of item.bounds; track $index) {
                        @if (bound.function_id) {
                        ∈ {{this.cartez.functions[bound.function_id].expression_latex}}
                        }
                        }
                    </li>
                    }
                </ul>
            </div>
            <div>
                <h3>Lines</h3>
                <!-- <ul>
        @for (line of this.cartez.lines | slice:1; track line.id) {
        <li>
            y = {{line.m}}x {{['-','+'][+(line.b > 0)] + " " + myMath.abs(line.b)}}
            @for (range of line.ranges; track range) {
            {{ "{" + range.from + " <= x <=" + range.to  + " }"}} } </li>
                }
            </ul> -->
            </div>
            <div>
                <h3>Intersection Points</h3>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="shareClick($event)">Share</button>
        </mat-card-actions>
    </mat-card>
    <app-cartez (onCord)="onCord($event)" (onHover)="onHover($event)" (mousedown)="onMouseDown($event)"
         [data]="functions"></app-cartez>

</div>