<app-cartez (onCord)="onCord($event)" (onHover)="onHover($event)" (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)" 
    [color]="color"
    oncontextmenu="return false;"></app-cartez>
@if (hoverCord) {
<a>Selected Cord: ({{hoverCord.x}},{{hoverCord.y}})
</a>
}
@if (hovered) {
<a>Selected Point: ({{hovered.letter}})
</a>
}
<mat-card>
    <mat-card-title>Functions</mat-card-title>
    <div>
        @for (input of this.expressions; track $index) {
        <div>
            <input matInput placeholder="f(x)" value="" [(ngModel)]="expressions[$index]"
                (ngModelChange)="onFnChange($index)">
        </div>
        }
        @for (fn of this.cartez.functions; track $index) {
        <a>Evaluated in: {{fn.calculated_in_ms}} MS</a>
        }
        <!-- <button mat-button color=" primary"> Add</button> -->
    </div>

    <ul>
        @for (fn of this.cartez.functions; track fn) {
        <li>
            {{fn.expression_latex}}
        </li>
        }
    </ul>
</mat-card>
<mat-card>
    <mat-card-title>Points</mat-card-title>
    <ul>
        @for (item of this.cartez.points; track item.letter) {
        <li>
            {{item.letter}} ({{item.cords.x}},{{item.cords.y}})
            @for (bound of item.bounds; track $index) {
            @if (bound.function_id) {
            ∈ {{this.cartez.functions[bound.function_id].expression_latex}}
            }
            }
        </li>
        }
    </ul>
</mat-card>
<mat-card>
    <mat-card-title>Lines</mat-card-title>
    <!-- <ul>
        @for (line of this.cartez.lines | slice:1; track line.id) {
        <li>
            y = {{line.m}}x {{['-','+'][+(line.b > 0)] + " " + myMath.abs(line.b)}}
            @for (range of line.ranges; track range) {
            {{ "{" + range.from + " <= x <=" + range.to  + " }"}} } </li>
                }
    </ul> -->
</mat-card>
<mat-card>
    <mat-card-title>Intersection Points</mat-card-title>
</mat-card>